.home-box-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
}

.home-box {
  width: 100%;
  border-radius: 8px;
  padding: 2rem;

  h2 {
    font-size: 1.5rem;
    color: var(--theme1);
    margin-bottom: 1rem;
  }
}