nav {
  background: linear-gradient(to right, var(--theme1), var(--theme2));
  width: 100%;
  box-shadow: 0 0px 5px #0000001a;
}

[data-theme='dark'] nav {
  background: transparent;
}

nav span {
  margin-bottom: 1px;
}

.nav-link {
  color: var(--link);
  font-size: 0.95rem;
}
[data-theme='light'] .nav-link {
  color: var(--dark1);
}
.nav-link:hover, .nav-link:focus {
  background-size: 0% 1px !important;
  text-decoration: none;
}

.nav-inner {
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-left, .nav-right {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 4rem;
}

@media (max-width: 1000px) {
  .nav-inner {
    max-width: 100%;
  }
  .nav-left, .nav-right {
    padding: 0.5rem;
  }
}

.small-yiffer-title {
  padding: 0 1rem 0 0.5rem;
}
.small-yiffer-title a {
  font-size: 1.25rem;
  text-decoration: none;
  font-family: 'Shrikhand';
  font-weight: 400 !important;
}
