.box-elevation-1 {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  position: relative;
}
.box-elevation-1-hover::before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 3px 7px rgba(0,0,0,0.18);
  border-radius: inherit;
  opacity: 0;
  transition: opacity 80ms;
}
.box-elevation-1-hover:focus::before, .box-elevation-1-hover:hover::before {
  opacity: 1;
}